@use '../base/typography' as font;

$font-family : font.$font-jost;
$primary-color: #141414;
$white-color: #ffffff;
$fw-bold:700;
$size-base:8px;

/* MEDIA QUERIES */
$bp_tablet_mobile: 1280px;
$bp_mobile: 768px;