@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.header {
    padding: v.$size-base* 4;
    position: sticky;
    top: 0;
    background-color:v.$primary-color;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.3);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mx.max-width-vw;

    }

    &__logo {
        width: min(120px, 50%);
    }

    &__nav {
        width: 100%;

        & ul {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: v.$size-base* 4;

            & li>a{
                padding: v.$size-base * 2;
            }

            & li:not(:first-child)> a{
                &:hover{
                    @include mx.hover-color(v.$primary-color, v.$white-color);
                    border-radius: v.$size-base / 2;
                }
            }

          .header__nav__title-app {
                flex: 1 1 90%;
                @include mx.font_size(v.$size-base * 4);

                @include mx.media-querie(v.$bp_tablet_mobile){
                    display: none;
                }
            }

            &>li:not(.header__nav__title-app) {
                flex: 0 0 auto;
            }
        }

    }
}