@use '../abstracts/variables' as v;

.header {
    padding: v.$size-base* 4;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        width: min(120px, 50%);
    }

    &__nav {
        width: 100%;
        padding: v.$size-base* 2;

        & ul {
            width: 100%;
            display: flex;
            gap: v.$size-base* 4;

          .header__nav__title-app {
                flex: 1 1 90%;
            }

            &>li:not(.header__nav__title-app) {
                flex: 1 0 auto;
            }
        }




    }
}